
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.descri{
    color: #657165;
     margin: 1cm 0cm;
     width: 100%; 
       .descripti{
        width: 55%; 
        font-family: Montserrat, sans-serif;
        display: inline-block;

    }
}
 