

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.partner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3cm;
    .p-left{
        font-family: Montserrat, sans-serif;
        .p1{
            color: #FFD93C;
            font-size: 1cm;
            font-weight: 700;

        }
        .p2{
            color: white;
            font-size: 2cm;
            font-weight: 800;
        }
     }
    .p-right{
         align-items: center;
        justify-content: center;
           .p-item{
          display: flex;
          flex-wrap: wrap;
           max-width: 20cm;
            align-items: center;
            gap: 100px;
            display: inline-block;
            
          .p-img{
            width: 6cm;
            height: 3.2cm;
            object-fit: contain;
             margin-left: 1cm;
             position: relative;
             
               }
          span{
            position: absolute;
            color:yellow;
            transform: translate(-0.3cm,1cm);
          }
            }
    }
}

@media only screen and (max-width: 768px) {
    .p-img{
         max-width: 4cm;
        object-fit: cover;
         margin-left: 0.5cm;
           }  
    
}