.n-navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    .n-logo img{
        object-fit: cover;
        transform: translateY(0.3cm);

    }
    .n-links{
          ul{
             display: flex;
            gap: 30px;
            list-style: none;
            transform: translateY(0.2cm);
             font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-weight: 510;
            li{
               padding-bottom: 6px;
               cursor: pointer;
               position: relative;
               
               &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 3.5px;
                bottom: 0;
                left: 0;
                background-color: rgb(255, 187, 0);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
              }
                &:hover:before{
                        visibility: visible;
                        width: 100%;            }
        }
             

        }
    }
}