@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


.globalfott{
     max-width: 1351px;
    max-height: 420px;
    color: white;
    display: flex;
    flex-direction: column;
     justify-content: left;
    background-color: #111111;
  .footer{
    display: flex;
    
      padding:2cm 1cm;
      justify-content: space-evenly;
     .space{
         display: flex;
         flex-direction: column;
         gap: 10px;
         text-align: left;
         margin-left: 4cm;
         .tit{
            padding-bottom: 0.5cm;
            font-size: 17px;
        }
        .ele{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
 
            cursor: pointer;
            &:hover{
                color: #FFD93C;
            }
        }
        .commu{
            display: flex;
            gap: 0.5cm;
             a{
            color: #e4e4e4; }       
            .commu-n{
            cursor: pointer;
            padding-top: 5px;
            font-size: small;
            &:hover{
            color: #FFD93C;
            }
        }
        }
        .tit2{
            font-size: 0.7cm;}
        .email{

                 font-size: 0.4cm;
                 text-align: end;
                .suppor{
                    padding-left: 6px;
                 }
                 .comail{
                    font-size: 0.55cm;
                    margin-bottom: -5px;
                    display: inline-block;
                 }
            }
            a{
                color: #e4e4e4;
                &:hover{
                    color: #FFD93C;
                    }
            } 
        
    }
    .logo{
        width: 450px;
        height: 100px;
        text-align: center;
        display: flex;
        margin-left: -0.5cm;
        gap: 0.2cm;
        background-color: #333333;
        min-width: 10cm;
        min-height: 4cm;
        padding-left: 1cm;
        border-radius: 16px;
        position: relative;



        img{
        width: 90px;
        height: 60px;
        transform: translate(-0.5cm,0.6cm);
         }
        .logotxt{
            display: flex;
            position: absolute;
            gap: 0.5cm;
            transform: translateX(1.5cm);
            padding: 0.6cm;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            .bar2{
                min-width: 4cm;
            }

        }
    }
}

.text-bar{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
.copyright{
    transform: translate(-8.6cm,-1cm);
    color: #9e9e9e;
}
.teleg{
    font-size: 13px;
    padding-left: 0.3cm;
}
}
@media only screen and (max-width: 768px) {
.globalfott{
    margin-top: 2cm;
    min-height:200vh ;
     .footer{
        transform: translateY(-2cm);
          flex-direction: column;
         min-height :0vh ;
         .space{
            margin-top: 1cm;
         }
    }
    .logo{
        margin-top: 2cm;

        max-width: 60px;
        height: 80px;
        text-align: center;
        display: flex;
        margin-left: -0.5cm;
        gap: 0.2cm;
        background-color: #333333;
        
        img{
            max-width: 70px;
            height: 40px;
            transform: translate(-0.5cm,0.6cm);
            }
        .logotxt{
                display: flex;
                position: absolute;
                gap: 0.2cm !important;
                padding: 0.6cm;
                font-size: 11px !important;
                font-family: 'Montserrat', sans-serif;
                text-align: left;
                .bar2{
                    min-width: 2cm !important;
                }

    }

    }
}
.ele{
    margin-top: -0.1cm;
}
.email{
    transform: translateX(-1.15cm);
}
.copyright{
    transform: translate(0cm,-1cm) !important;
    color: #9e9e9e;
}
}